<%- include('../../header.ejs')%>
<h1 style="color: black;">Name : <%= d.name %></h1>
<h3 style="margin-top: 10%;">title : <%=d.title %></h3>
<h6>Description : <%=d.description %></h6>


<%- include('../../footer.ejs')%>